body{
  overflow: hidden;
}

#reproductor > img{
  position: relative;
  left: 158px;
  top: -1020px;
  width: 87%;
  height: 130px;
  filter: brightness(-100);
}


#info #tarjetas #reproductor{
  height:70%;
  width: 99%;
  background-color: transparent;
  position: relative;



}

#player > input[type="range"]{
  position: relative;
  top: -1120px;
  left: 230px;
  width: 75%;
}

#volume > input[type="range"]{
  top: -1155px;
  left: 920px;
  width: 16%;

}


input[type=range] {
  position: relative;
  -webkit-appearance: none;
  margin: 4.95px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7.1px;
  cursor: pointer;
  box-shadow: 6.6px 6.6px 12.6px rgba(0, 101, 223, 0.55), 0px 0px 6.6px rgba(0, 113, 249, 0.55);
  background: #1871a9;
  border-radius: 12.3px;
  border: 0px solid #007953;
}
#player input[type=range]::-webkit-slider-thumb {
  box-shadow: 2.5px 2.5px 8.9px #0061df, 0px 0px 2.5px #006cf9;
  border: 0px solid #000000;
  height: 17px;
  width: 24px;
  border-radius: 33px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.95px;
}
#volume input[type=range]::-webkit-slider-thumb {
  box-shadow: 2.5px 2.5px 8.9px #0061df, 0px 0px 2.5px #006cf9;
  border: 0px solid #000000;
  height: 15px;
  width: 24px;
  border-radius: 33px;
  background: gray;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.95px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #1f92da;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 7.1px;
  cursor: pointer;
  box-shadow: 6.6px 6.6px 12.6px rgba(0, 101, 223, 0.55), 0px 0px 6.6px rgba(0, 113, 249, 0.55);
  background: #1871a9;
  border-radius: 12.3px;
  border: 0px solid #007953;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 2.5px 2.5px 8.9px #0061df, 0px 0px 2.5px #006cf9;
  border: 0px solid #000000;
  height: 17px;
  width: 24px;
  border-radius: 33px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 7.1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #115078;
  border: 0px solid #007953;
  border-radius: 24.6px;
  box-shadow: 6.6px 6.6px 12.6px rgba(0, 101, 223, 0.55), 0px 0px 6.6px rgba(0, 113, 249, 0.55);
}
input[type=range]::-ms-fill-upper {
  background: #1871a9;
  border: 0px solid #007953;
  border-radius: 24.6px;
  box-shadow: 6.6px 6.6px 12.6px rgba(0, 101, 223, 0.55), 0px 0px 6.6px rgba(0, 113, 249, 0.55);
}
input[type=range]::-ms-thumb {
  box-shadow: 2.5px 2.5px 8.9px #0061df, 0px 0px 2.5px #006cf9;
  border: 0px solid #000000;
  height: 17px;
  width: 24px;
  border-radius: 33px;
  background: #ffffff;
  cursor: pointer;
  height: 7.1px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #1871a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #1f92da;
}


#controls > i{
  color: white;
  font-size: 200%;
  position: relative;
  top: -1100px;
  left: 310px;
  margin-left: 80px;
}

#controls > i:hover{
  color: #0ca1ff;

}

#volume > i{
  color: #e6e6e6;
  font-size: 200%;
  position: relative;
  top: -1129px;
  left: 889px;
  margin-right: 14px;
}
#volume2 > i{
  color: #e6e6e6;
  font-size: 200%;
  position: relative;
  top: -1175px;
  left: 1142px;
  margin-right: 14px;
}



#portada > img{
  position: relative;
  width: 300px;
  top: -835px;
  left: 890px;
}

#botones #pistas, #botones #artistas, #botones #albums {
  position: relative;
  top: -750px;
  left: 250px;
}

#botones #artistas{
  left: 610px;
  top:-797px;
}

#botones #albums{
  left: 425px;
}

#botones #pistas{
  top:-703px;
}

#query > img{
  width: 600px;
  height: 310px;
  position: relative;
  top: -1030px;
  left: 200px;
}

#data > p {
  color: blue;
  font-size: 25px;
  color: #0ca1ff;
  width: 300px;
  position: relative;
  top: -1388px;
  left: 900px;
}

#data > p > span{
  color: #e6e6e6;
  font-size: 20px;


}

#query > p {
  color: blue;
  font-size: 20px;
  color: #e6e6e6;
  background-color: rgba(0,0,0,0.5);
  width: 560px;
  position: relative;
  top: -1691px;
  left: 220px;
  text-align: center;
}

#query > p > span{
    color: #0ca1ff;
}
